// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

*,
*:after,
*:before {
    box-sizing: border-box;
}

:root {
    --header-outer-height: 110px;
    --header-inner-height: 70px;
    --header-height-difference: calc(
        var(--header-outer-height) - var(--header-inner-height)
    );
    --header-bg: #fff;
}

body {
    font-family: "DM Sans", sans-serif;
}

.container {
    position: relative;
    width: 95% !important;
    max-width: none !important;
    margin: 0 auto;
    padding: 0;
}

main {
    padding: 50px 0 20px;
}

/* Стили для хлебных крошек */
.breadcrumbs {
    list-style: none;
    padding-bottom: 30px;
    font-size: 17px;
    font-family: sans-serif;

    li {
        display: inline;
    }

    li:not(:last-child):after {
        content: ' > ';
        margin: 0 5px;
    }

    a {
        text-decoration: none;
        color: #333; /* Цвет ссылок */
    }

    a:hover {
        text-decoration: underline;
    }
}


// ----------------- LOGIN ----------------
.login__page {
    background-image: url(/storage/app/public/apm_back.jpg);
    backdrop-filter: brightness(0.5);
    .card {
        padding: 2rem;
        background-color: rgba(255, 255, 255, 0.61);
    }
    &-block {
        height: 100vh;
    }
    img {
        max-height: 70px;
    }
}

// ----------------- HEADER ---------------
.header-bg {
    background-color: #002543;
    img {
        max-height: 40px;
    }
    .nav-link {
        position: relative;
        display: inline-block;
        font-size: 1rem;
    }

    /* Добавляем стили для активной вкладки */
    .nav-link.active .hover-bar {
        width: 100%;
    }

    .hover-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #fff;
        transition: width 0.5s ease;
    }

    .nav-link:hover .hover-bar {
        width: 100%;
    }

    .dropdown-item:hover, .dropdown-item:focus {
        background-color: #0025433b;
    }
}

// ----------------- PROFILE ----------------
.profile {
    .card{
        border:none;
        position:relative;
        overflow:hidden;
        border-radius:8px;
        cursor:pointer;
        svg {
            max-height: 100px;
        }
        &:before{
            content:"";
            position:absolute;
            left:0;
            top:0;
            width:4px;
            height:100%;
            background-color: #bed7e7;
            transform:scaleY(1);
            transition:all 0.5s;
            transform-origin: bottom
        }
        &:after{
            content:"";
            position:absolute;
            left:0;
            top:0;
            width:4px;
            height:100%;
            background-color: #242baa;
            transform:scaleY(0);
            transition:all 0.5s;
            transform-origin: bottom
        }
        &:hover::after{
            transform:scaleY(1);
        }
    }
    .fonts{
        font-size:16px;
    }
    .buttons {
        button:nth-child(1) {
            border: 1px solid #242baa !important;
            color: #242baa;
            height: 40px;
            &:hover {
                border: 1px solid #242baa !important;
                color: #fff;
                height: 40px;
                background-color: #242baa;
            }
        }
        button:nth-child(2){
            border:1px solid #242baa !important;
            background-color:#242baa;
            color:#fff;
            height:40px;
        }
    }
}

//----------------- BUTTONS ---------------
.btn {
    font-size: 16px;
    box-shadow: -7px 7px 30px 3px rgba(34, 60, 80, 0.2);
}
.btn-light {
    border: 1px solid #1a1d20;
}
.btn-primary--2 {
    background-color: rgba(19, 73, 150, 0.52);
    color: #fff;
}

//----------------- REESTR OBJECT TABLE ---------------
.card-body {
    box-shadow: var(--bs-box-shadow-lg);
}
/* Стиль для активной кнопки */
.copy_cardObject {
    background-color: #007bff!important; /* Цвет кнопки при активации */
}

/* Стиль для неактивной кнопки */
.copy_cardObject[disabled] {
    background-color: #6c757d!important; /* Цвет кнопки при деактивации */
    cursor: default;
}
//----------------- REESTR WORK ORDER TABLE ---------------
.status-in-progress {
    color: green;
}

.status-completed {
    color: red;
}

//----------------- CARD OBJECT -----------------------
.member_card_style {
    position: relative;
    box-shadow: 0px 2px 15px
    rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 5px;
    background: #fff;
    transition: 0.5s;
    margin: 20px 0;
    &:hover {
        transform: translateY(-10px);
    }
}
.member-info {
    padding-left: 30px;
    h4 {
        font-weight: 700;
        margin-bottom: 10px;
        font-size: 20px;
        color: #2c48be;
        text-transform: uppercase;
    }
    span {
        display: block;
        font-size: 15px;
        padding-bottom: 10px;
        position: relative;
        font-weight: 500;
        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 50px;
            height: 1px;
            background: #bfe0fd;
            bottom: 0;
            left: 0;
        }
    }
    &-inputs {

    }
    .objectImage {
        position: relative;
        margin: 0 auto;
        img {
            object-fit: contain;
            max-width: 450px;
            position: relative;
        }
    }
}
.custom_tab_style1 {
    &.nav-tabs {
        border-bottom: 2px solid
        #2c48be;
        .nav-link {
            margin-bottom: -2px;
            padding: 10px 25px;
            border-width: 2px;
        }
    }
}

#main {
    #main__blocks {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 0 3em;
        height: 100%;
    }
     #main__blocks_calendar {
        grid-template-columns: max-content;
        gap: 0 3em;
        height: 100%;
    }
    .general {
        grid-row: 1 / 2;
        grid-column: span 2;
    }
    .documentation {
        grid-row: 2 / 3;
        grid-column: span 2;
        .docDelete {
            cursor: pointer;
        }
    }
    .image {
        grid-row: 1 / 3;
        grid-column: span 1;
    }
}
#service__blocks {
    grid-template-columns: repeat(3, 1fr);
    gap: 0 3em;
    height: 100%;

    .services, .types, .materials {
        grid-column: span 2;
    }

    .image {
        grid-column: 3;
        grid-row: 1/3;
    }
}

.services {
    .disableInTable {
        color: #a52834;
    }
    .color-options {
        display: flex;
        gap: 5px;
        .color-option {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
        }
        .color-option.selected {
            border: 4px solid white;
        }
        .red {
            background-color: #ff0000;
        }
        .green {
            background-color: #00ff00;
        }
        .blue {
            background-color: #0000ff;
        }
    }
}
.types {
    .typesOfWork {
        .grid-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }
        .grid-item {
            width: 100%;
        }
    }
}

.custom_tab_style1 .nav-item.show .nav-link,
.custom_tab_style1 .nav-link.active {
    color: #2c48be;
    background-color: #f8f9fa;
    border-width: 2px;
    border-color: #2c48be
    #2c48be
    #f8f9fa;
    font-size: 15px;
}
.custom_tab_style1 .nav-link:focus,
.custom_tab_style1 .nav-link:hover {
    border-width: 2px;
    border-color: #2c48be
    #2c48be
    #f8f9fa;
}

//----------------- CARD CALENDAR -----------------------
#calendar {
    max-width: 1200px;
    margin: 40px auto;
}
