// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.login__page {
    background-image: url(/storage/app/public/apm_back.jpg);
    backdrop-filter: brightness(0.5);
    .card {
        padding: 2rem;
        background-color: #ffffffb0;
    }
    &-block {
        height: 100vh;
    }
}
